*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,body {
    height:100%;
    width:100%;
}
.section_1 img{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: black; */
}
.filter{
    height: 174%;
    width: 100%;
    background-color:rgba(2, 110, 149, 0.463);
    mix-blend-mode: hard-light;
    position: absolute;
    top: 0;
    left: 0;
}
.content{
    height: 100%;
    width: 100%;
}
.cont{
    height: 38%;
    position: relative;
}
.strip{
    height: 100%;
    width: 27.6%;
    background-color: #f4f825;
    margin: 0 0 0 61%;
}
.sec_1-font{
    height: 100%;
    width: 79.4%;
    max-width: 1230px;
    position: absolute;
    top: 0;
    margin: 0 10.5%;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}
.font-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    line-height: 120px;
}
.font-1 h1{
    font-size: 130px;
    font-weight: 900;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.h1_top{
    background-color: yellow;
    height: 22px;
    width: 90px;
    margin-left: 10px;
}
.h1_cont{
    display: flex;
    padding-block-end:75px ;
}
.font-2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.font-2 h1{
    font-size: 90px;
    font-weight: 700;
    line-height: 110px;
}
.font-2 h1:nth-child(3){
    padding-block-end: 15px;
}
.image{
    /* background-color: rgba(0, 0, 0, 0.645); */
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image img{
    height: 200px;
    width: 230px;
    margin-bottom: 5vh;
}
.image h1{
    font-size: 8vw;
    font-weight:600;
    letter-spacing: 49px;
}
.image h3{
    font-size: 2.4vw;
    font-weight: 800;
    letter-spacing: 15px;
    line-height: 20px;
}
.image div{
    padding-inline-start: 3vw;
}
.image div h3{
    padding-inline-start: .2vw;
}
.section_2{
    height: 125vh;
    width: 100%;
    position: relative;
}
.sec2_cont{
    height: 100%;
    width: 80%;
    margin: -5px auto;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_head{
    font-size: 10vw;
    font-weight: 800;
    color: #e2e523;
}
.firsth1_cont{
    border-block-end: 4px solid gray;
    padding-block-end: 1vw;
    width: 100%;
}
.second_cont{
    width: 100%;
    height: 35%;
    margin-block-start: 40px;
    justify-content: space-between;
    display: flex;
}
.parah1,.parah2{
    width: 43%;
    height: 100%;
}
span{
    font-size: 2.7vw;
    color: gray;
    font-weight: 100;
    line-height: 50px;
}
.h3{
    color: #3CA0AD;
    font-weight: 600;
}
.parah1,.parah2{
    font-size: 20px;
}
p{
    word-break: break-all;
    color: black;
    line-height: 25px;
}
.footer{
    width: 100%;
}
i{
    color: black;
    font-size: 55px;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.footer_cont{
    display: flex;
    justify-content: space-between;
}
.icon_cont3{
    display: flex;
    height: 100%;
    width: 22vw;
    justify-content: space-evenly;
    padding-block-start: 30px;
}
.icon_cont1{
    width: 22vw;
}
.spacing{
    padding-inline-start: 40px;
}
.align{
    display: flex;
    align-items: center;
}
.logo_font{
    font-size: 50px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.outline_cont{
    width: 180px;
    height: 8px;
    background-color: white;
    margin-block-start: -36px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.outline_cont div{
    height: 100%;
    width: 8px;
    background-color: black;
    border-radius: 50%;
}
.icon_cont3 svg{
    height: 70px;
    width: 70px;
}
.bottom_strip{
    height: 200px;
    width: 95px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
}   
.btm1{
    left: 0;
}
.btm2{
    right:0;
}